*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    height:5rem;
    width:100rem;
    background-color: blueviolet;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 30px;

    

}
a{
    color:white;
}
.logo{
    font-size: xx-large;
}
li{
    
    list-style: none;
  
}
a{
    text-decoration: none;
}
.nav-links{
    display: flex;
    gap: 60px;
    align-items: center;
    font-size: medium ;

}
a:hover{
    color:rgb(223, 207, 237);
}
